<form action="" class="search-form">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="username" name="username" (keyup)="getUserProfile()" placeholder="Search users by username on github.">
  </div>
</form>

<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profile.name}} <small>({{profile.login}})</small>
       <span *ngIf="profile.company"> , Works at  {{profile.company}} </span>
        , {{profile.location}}
      </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" class="img-circle img-responsive" >
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
            <li class="list-group-item" *ngIf="profile.hireable">Available for hire!</li>
            <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
        
          </ul>


        </div>
        <div class="col-sm-4">
          
          <table>
            <tr>
              <td style="width: 200px; height: 200px "><canvas id="barchart"></canvas></td>
            </tr>
          </table>
          <!--<p>
            <span class="label label-default">{{profile.followers}} Followers </span>
            <span class="label label-primary"> Following {{profile.following}} </span>
            <span class="label label-success"> {{profile.public_gists}} Gists </span>
            <span class="label label-info"> {{profile.public_repos}} Repos </span>
          </p> --> 
          <p>
            <a href="{{profile.html_url}}" target="blank" class="btn btn-sm btn-success">View profile in GitHub</a>
          </p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">Repos</div>
            </div>
            <div class="panel-body" *ngFor="let repo of repos">
              <p class="clearfix">{{repo.name}}  <a href="{{repo.html_url}}" class="btn btn-sm btn-warning pull-right" target="_blank">View this repo on GitHub.</a> 
              
              </p>
              <p>{{repo.description}}</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  
  
</div>